<div id="me">
    <p>
        <img src="/images/Headshot-Square.png" alt="John Ptacek" />
        I'm <b>John Ptacek</b>, a software developer for <a href="http://www.SkylineTechnologies.com">Skyline Technologies</a>.
        This blog is my contains my content and opinionss, which are not those of my employer.
    </p>
    <p>Currently, I am reading
        <a href="https://www.amazon.com/Potter-Cursed-Special-Rehearsal-Script/dp/1338099132">Harry Potter and the Cursed Child</a>
        by <a href="http://www.jkrowling.com/">J. K. Rowling</a></p>
    <p>
        <a href="https://twitter.com/jptacek">@jptacek</a> &#8226;
        <a href="https://github.com/jptacek">GitHub</a> &#8226;
        <a href="https://www.linkedin.com/in/JohnPtacek/">LinkedIn</a> &#8226;
        <a href="https://stackoverflow.com/users/39797/john-ptacek">Stack Overflow</a> &#8226;
        <a href="https://plus.google.com/+JohnPtacek">Google+</a>
    </p>
</div>
