<div id="me">
    <p>
        <img src="/images/Headshot-Square.png" alt="John Ptacek" />
        I'm <b>John Ptacek</b>, a software developer for <a href="http://www.SkylineTechnologies.com">Skyline Technologies</a>.
        This blog is my contains my content and opinions, which are not those of my employer.
    </p>
    <p>Currently, I am reading 
        <a href="https://www.amazon.com/dp/B013C5M08O/">The Fireman: A Novel</a>
        by <a href="http://www.joehillfiction.com/">Joe Hill</a></p>
    <p>
        <a href="https://twitter.com/jptacek">@jptacek</a> &#8226;
        <a href="https://github.com/jptacek">GitHub</a> &#8226;
        <a href="https://www.linkedin.com/in/JohnPtacek/">LinkedIn</a> &#8226;
        <a href="https://stackoverflow.com/users/39797/john-ptacek">Stack Overflow</a> &#8226;
        <a href="https://plus.google.com/+JohnPtacek">Google+</a>
    </p>
</div>
