<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.xml" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Redirect to WWW" stopProcessing="true"> 
                    <match url=".*" /> 
                        <conditions> 
                            <add input="{HTTP_HOST}" pattern="^jptacek.com$" />
                        </conditions> 
                    <action type="Redirect" url="http://www.jptacek.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="OldHtmlUrls" stopProcessing="true">
                    <match url="(.+)\.html.*$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
                <rule name="OldHtmlWithTrailingSlashUrls" stopProcessing="true">
                    <match url="(.+)\.html/.*$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
                <rule name="OldYearMonthCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/([0-1]{1}[1-9]{1})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                <rule name="OldYearCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                <rule name="CanonicalFeed" stopProcessing="true">
                    <match url="^(feed.xml)|(rss)|(rss.xml)|(atom.xml)|(feed/atom)|(feed/rss2)$" />
                    <action type="Redirect" url="/feed/" appendQueryString="false" />
                </rule>

                <!-- Old links with different URLs -->
                <rule name="PopularBadLinkToPost" stopProcessing="true">
                    <match url="^set-up-a-windows-ssh-tunnel-in-10-minutes-or-less/$" />
                    <action type="Redirect" url="/2008/05/set-up-a-windows-ssh-tunnel-in-10-minutes-or-less/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost2" stopProcessing="true">
                    <match url="^2008/04/i-switched-from-linux-to-windows-server/$" />
                    <action type="Redirect" url="/2008/04/i-switched-from-linux-to-windows-server-2008/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost3" stopProcessing="true">
                    <match url="^2008/04/using-the-luhn-algorithm-to-validate-credit-cards/$" />
                    <action type="Redirect" url="/2008/04/using-luhn-algorithm-to-validate-credit/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost4" stopProcessing="true">
                    <match url="^2008/04/take-a-screenshot-in-flex-and-send-it-to-aspnet/$" />
                    <action type="Redirect" url="/2008/04/take-screenshot-in-flex-and-send-it-to/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost5" stopProcessing="true">
                    <match url="^2008/04/reading-an-octet-stream-post-in-aspnet/$" />
                    <action type="Redirect" url="/2008/04/reading-octet-stream-post-in-aspnet/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost6" stopProcessing="true">
                    <match url="^2008/04/serving-your-aspnet-aspx-pages-with/$" />
                    <action type="Redirect" url="/2008/04/serving-your-aspnet-aspx-pages-with-html/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost7" stopProcessing="true">
                    <match url="^2008/04/10-things-to-look-for-when-searching/$" />
                    <action type="Redirect" url="/2008/04/10-things-to-look-for-when-searching-for-net-controls/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost8" stopProcessing="true">
                    <match url="^2008/04/adding-social-tech-site-buttons-to/$" />
                    <action type="Redirect" url="/2008/04/adding-social-tech-site-buttons-to-blogger/" appendQueryString="false" />
                </rule>
                <rule name="PopularBadLinkToPost9" stopProcessing="true">
                    <match url="^2008/04/dotnetkicks-blogger-integration-that/$" />
                    <action type="Redirect" url="/2008/04/dotnetkicks-blogger-integration-that-actually-works/" appendQueryString="false" />
                </rule>

                <rule name="OldFeedLinks" stopProcessing="true">
                    <match url="^(.+).html/(feed|trackback)$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
                <rule name="OldAuthorLinks" stopProcessing="true">
                    <match url="^author" />
                    <action type="Redirect" url="/about/" appendQueryString="false" />
                </rule>
                <rule name="OldCategories" stopProcessing="true">
                    <match url="^category/([^/]+)/" />
                    <action type="Redirect" url="/tags/{R:1}/" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
